html, body, .container {
    height: 100%;
}
body.dark {
    color: #d0d0d0;
    background-color: #313131;
}
.content {
    padding-bottom: 70px;
}
ul.messageList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.message > .text {
    word-wrap: break-word;
}
.message > .time {
    color: #bbbbbb;
}
.messageWidget {
    padding: 0px;
}
.messageWidget .input-group {
    width: 100%;
}
.messageWidget .input-group-btn {
    width: 1%;
}
